.curve-white-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 20;
}

.curve-white-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  transform: rotateY(180deg);

  @apply h-[40px] md:h-[60px] lg:h-[100px];
}

.curve-white-top .shape-fill {
  fill: #fff;
}

.curve-white-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve-white-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  transform: rotateY(180deg);

  @apply h-[40px] md:h-[60px] lg:h-[100px];;
}

.curve-white-bottom .shape-fill {
  fill: #FFFFFF;
}