/* Copy pasted */

@keyframes loading {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}

.loading div {
  position: absolute;
  animation: loading 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #cd7f00;
  transform-origin: 80px 83px;
}

.loading-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.loading div { box-sizing: content-box; }