@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	font-family: gt-walsheim-pro, sans-serif;
}

body{
	background: black;
}

@font-face {
	font-family: gt-walsheim-pro;
	src: url('./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: gt-walsheim-pro-medium;
	src: url('./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Medium.ttf');
	font-display: swap;
}

:root {
	--scrollbar-track: rgb(30, 30, 30);
	--scrollbar-thumb: rgb(90, 90, 90);
}

/* Scrollbar */
/* Firefox only */
@supports (scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track)) {
	* {
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
		scrollbar-width: thin;
	}
}

/* Other browsers */
::-webkit-scrollbar {
	width: 0.25em;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 100vw;
}
