@keyframes svelte-1j0jp3g-loading{0%{transform:rotate(0deg)}50%{transform:rotate(180deg)}100%{transform:rotate(360deg)}}.loading.svelte-1j0jp3g div.svelte-1j0jp3g{position:absolute;animation:svelte-1j0jp3g-loading 1s linear infinite;width:160px;height:160px;top:20px;left:20px;border-radius:50%;box-shadow:0 6px 0 0 #cd7f00;transform-origin:80px 83px}.loading-spinner.svelte-1j0jp3g.svelte-1j0jp3g{width:200px;height:200px;display:inline-block;overflow:hidden}.loading.svelte-1j0jp3g.svelte-1j0jp3g{width:100%;height:100%;position:relative;transform:translateZ(0) scale(1);-webkit-backface-visibility:hidden;backface-visibility:hidden;transform-origin:0 0}.loading.svelte-1j0jp3g div.svelte-1j0jp3g{box-sizing:content-box}.float-shadow {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
}