@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	font-family: torus-regular, sans-serif;
}

body{
	background: black;
}

@font-face {
	font-family: torus-regular;
	src: url('./assets/fonts/torus/TorusNotched-Regular.ttf');
}

@font-face {
	font-family: torus-bold;
	src: url('./assets/fonts/torus/TorusNotched-Bold.ttf');
}

@font-face {
	font-family: torus-semibold;
	src: url('./assets/fonts/torus/TorusNotched-SemiBold.ttf');
}

:root {
	--scrollbar-track: rgb(30, 30, 30);
	--scrollbar-thumb: rgb(90, 90, 90);
}

@layer components {
	.page-content h2 {
		@apply my-5 text-center text-2xl font-semibold;
	}

	.page-content h3 {
		@apply mt-4 mb-2 text-xl font-semibold;
	}

	.page-content h4 {
		@apply mt-4 mb-2 pl-3 text-lg font-semibold;
	}

	.page-content ol {
		@apply list-decimal;
	}

	.page-content ol p {
		@apply mt-2 mb-4;
	}

	.page-content ol ol {
		@apply list-disc;
	}

	.gradient {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 25%, rgb(0, 0, 0));
	}
}

/* Scrollbar */
/* Firefox only */
@supports (scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track)) {
	* {
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
		scrollbar-width: thin;
	}
}

/* Other browsers */
::-webkit-scrollbar {
	width: 0.25em;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 100vw;
}
