@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	font-family: torus-regular, sans-serif;
}

@font-face {
	font-family: torus-regular;
	src: url('./assets/fonts/torus/TorusNotched-Regular.ttf');
}

@font-face {
	font-family: torus-bold;
	src: url('./assets/fonts/torus/TorusNotched-Bold.ttf');
}

@font-face {
	font-family: torus-semibold;
	src: url('./assets/fonts/torus/TorusNotched-SemiBold.ttf');
}

:root {
	--body: rgb(24, 24, 24);
}

@layer components {
	.page-content h2 {
		@apply my-5 text-center text-2xl font-semibold;
	}

	.page-content h3 {
		@apply mt-4 mb-2 text-xl font-semibold;
	}

	.page-content h4 {
		@apply mt-4 mb-2 pl-3 text-lg font-semibold;
	}

	.page-content ol {
		@apply list-decimal;
	}

	.page-content ol p {
		@apply mt-2 mb-4;
	}

	.page-content ol ol {
		@apply list-disc;
	}
	
	.gradient {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 25%, rgb(0, 0, 0));
	}

	/* Firefox only */
	.scrollbar-dark{
		scrollbar-color: rgb(30, 30 30) rgb(20, 20 20);
	}
}
